.landing-page-search-panel {
  height: 525px;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  flex-grow: 1;
}

.search-panel-header {
  padding-bottom: 15px;
}

.search-panel-search-bar {
  display: block;

  padding-bottom: 10px;
  justify-self: center;
}

.search-panel-main-phrase {
  color: var(--catch-phrase-text-color);
  font-size: 24px;

  padding-bottom: 15px;
}

.search-panel-footer {
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 7px;
}

.search-panel-footer:hover{
  border-radius: 10px;

  background-color: var(--about-block-hover-color);
}

.search-panel-icon-announcer {
  font-size: 20px;
  padding-right: 20px;
}

.search-panel-icon-wrapper {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-column-gap: 20px;
  align-items: center;
}

.logo-epic {
  padding-left: 2.5px;
  padding-right: 2.5px;
}

.logo-steam {
  padding-left: 2.5px;
  padding-right: 2.5px;
}

.logo-gog {
  padding-left: 2.5px;
  padding-right: 2.5px;
}

@media screen and (max-width: 1450px) {
}

/* Max width for smart phones */
@media screen and (max-width: 960px) {
  .search-product-result{
    display: flex;
    flex-direction: column;;
    align-items: center;
  }

  .landing-page-search-panel {
    height: 400px;
  }

  .search-panel-header{
    width: 450px;
  }
}

@media screen and (max-width: 920px) {
  .search-panel-header{
    width: 360px;
  }
}